body{
    text-align: center;
}

button{
       border: none;
       width: 40%;
       background-color: blueviolet;
       color: aliceblue;
       padding: 20px;
       border-radius: 25px;
}
input{
    margin-top: 20px;
    margin-bottom: 20px;
}
select {
    margin-top: 20px;
    margin-bottom: 20px;
}
textarea{
    margin-top: 20px;
    margin-bottom: 20px;
}